<!DOCTYPE html>
<html>
    <head>
        <title>The Bone Model Project | About</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="/static/styles.css"/>
        <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                   <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home_page') }}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('input_images') }}">INPUT IMAGES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about_page') }}">ABOUT</a>
                    </li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">3D Bone Modeling</h1>
            
            <!--find suitable background image-->
        </header>
        <section class="content-section container">
            <h2 class="section-header">Examples of Scans that can be Inputted</h2>
            <div class="row">
                <div class="column">
                  <img class="mri-img" src="/static/pelvic_MRI.png" alt="Pelvic MRI" style="width:100%">
                </div>
                <div class="column">
                  <img class="mri-img" src="/static/head-neck-mri.png" alt="Head and Neck MRI" style="width:100%">
                </div>
            </div>
            <div class="row-2">
                <div class="column-2">
                  <img class="mri-img" src="/static/knee-mri.bmp" alt="Knee MRI" style="width:100%">
                </div>
                <div class="column-2">
                    <img class="mri-img" src="/static/hand-mri.jpeg" alt="Hand MRI" style="width:100%">
                </div>
            </div>
            <!--<div>
                <div class="tour-row">
                    <span class="tour-item body-part">Pelvis</span>
                    <img class="mri-img" id="pel-image" src="images/pelvic_MRI.png">
                 </div>
                 <div class="tour-row">
                    <span class="tour-item body-part">Head and Neck</span>
                    <img class="mri-img" id="head-image" src="images/head-neck-mri.png">
                 </div>
                 <div class="tour-row">
                    <span class="tour-item body-part">Knee</span>
                    <img class="mri-img" id="knee-image" src="images/knee-mri.bmp">
                 </div>
                 <div class="tour-row">
                    <span class="tour-item body-part">Hand</span>
                    <img class="mri-img" id="hand-image" src="images/hand-mri.jpeg">
                    <button class="btn tour-item part-btn" id="btnID" type="button" onclick=showHand()>
                        Show Image</button>
                 </div>  -->
            </div>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name band-name-footer">Mazurowski Lab</h3>
                <ul class="nav footer-nav">
                    <nav>
                        <li>
                            <a href="https://sites.duke.edu/mazurowski/" target="_blank" data-inline="true">
                                <button class="btn btn-header" type="button">Lab Website</button>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.medseg.ai/" target="_blank" data-inline="true">
                                <button class="btn btn-header" type="button">MedSeg Website</button>
                            </a>
                        </li>
                    </nav> 
                </ul>
            </div>
        </footer>
    </body>
</html>