<!DOCTYPE html>
<html>
    <head>
        <title>The Bone Model Project</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <hr>
            <h1>Bone Model Project</h1>
            <a href="https://sites.duke.edu/mazurowski/" target="_blank">
                <button type="button">Lab Website</button>
            </a>
            <br>
            <br>
            <a href="https://www.medseg.ai/" target="_blank">
                <button type="button">MedSeg Website</button>
            </a>
            <!--find suitable background image-->
        </header>
        <section>
            <h2>Scans of Body Parts</h2>
            <div>
                <div>
                   <strong>Head</strong>
                   &lt;&gt;
                   <span>MRI Scan</span>
                   &lt;&gt;
                   <button type="button">Look at Image</button>
                   <hr>
                </div>
                <div>
                    <strong>Pelvis</strong>
                    &lt;&gt;
                    <span>MRI Scan</span>
                    &lt;&gt;
                    <button type="button">Look at Image</button>
                    <hr>
                 </div>
                <div>
                    <strong>Leg</strong>
                    &lt;&gt;
                    <span>MRI Scan</span>
                    &lt;&gt;
                    <button type="button">Look at Image</button>
                    <hr>
                 </div>
                 <div>
                    <strong>Foot</strong>
                    &lt;&gt;
                    <span>MRI Scan</span>
                    &lt;&gt;
                    <button type="button">Look at Image</button>
                    <hr>
                 </div>
                 <div>
                    <strong>Arm</strong>
                    &lt;&gt;
                    <span>MRI Scan</span>
                    &lt;&gt;
                    <button type="button">Look at Image</button>
                    <hr>
                 </div>
                 <div>
                    <strong>Foot</strong>
                    &lt;&gt;
                    <span>MRI Scan</span>
                    &lt;&gt;
                    <button type="button">Look at Image</button>
                    <hr>
                 </div>
            </div>
        </section>
        <footer>
            <h3>Mazurowski Lab</h3>
        </footer>
    </body>
</html>